:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}
body {
  font-family: "Pacifico", cursive, sans-serif !important;
  background: var(--mainWhite) !important;
}
.text-title {
  font-family: "'Pacifico', cursive";
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}
.text-nav {
  color: rgb(224, 155, 155);
}
